.hero-section {
    height: 300px;
    background-color: #495E57;
}

.hero-container {
    max-width: 1200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 25px;

    display: flex;
    justify-content: space-between;
}

.hero-title {
    color: #F4CE14;
    font-size: 60px;
    
    
}

.hero-city {
    font-size: 32px;
}

.hero-paragraph {
    font-size: 16px;
}

.hero-city, .hero-paragraph {
    color: #EDEFEE;
    
}

.hero-description {
    width: 400px;
}

.reserve-button {
    margin-top: 20px;
    background-color: #F4CE14;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

.banner {
    height: 380px;
    width: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-bubble {
    height: 400px;
}